
.container{
    max-width: 100%;
    margin: auto; 
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
  
  }
  
  .container h1{
    margin: 10px;
    color: var(--white);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
  }
  
  .containerHeader{
    display: flex;
    flex-direction: row;
  
    button{
      background: transparent;
      border:0;
      margin-left: 1rem;
    }
  
  }
  .article{
    display: flex;
    flex-direction: column;
   
  }

  
.table{
    border: 5px solid var(--white);
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--gray-100);
    margin: auto;

}
.tr{
    height: 20px;
}

.td{
    border: 1px solid var(--white);
    margin: 0px;
    width: 100px;
}

@media(max-width: 700px){
 
}
