

.headerContent{
    
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;

    img{
        cursor: pointer;
    }
}

.menuNav{
    display: flex;
    align-items: center;

    a{
        color: var(--white);
        padding: 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.7s;
        margin: 0px 10px;

       

        &:hover{
            color: var(--red-900);
        }
    }

    button{
        
        background: transparent;
        border: 0;
        transition: transform 0.8s;
        margin: 10px;

        &:hover{
            transform: scale(1.2);
        }

    }

}

@media(max-width: 700px){
  
    .menuNav{
      margin-top: 20px;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .item{
      justify-content: center;
    }
    .item:hover{
        width: 100%;
    }
   
}